<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <p>Hello service</p>
    <div class="container">
        <div th:if="${not #lists.isEmpty(studentList)}">
            <h2>Table of Users</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birthday</th>
                </tr>
                <tr th:each="student : ${studentList}">
                    <td th:text="${student.studentId}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.birthday}"></td>
                    <td>
                        <a th:href="@{/delete_student(studentId=${student.studentId})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>