<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Student edit page</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<form action="#" th:action="@{/admin/student/edit(studentId=${student.studentId})}" th:object="${student}" method="post">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}" /></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}" /></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</td>
        </tr>
        <tr>
            <td>Patronymic</td>
            <td><input type="text" th:field="*{patronymic}" /></td>
            <td th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic Error</td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select th:field="*{gender}">
                    <option th:each="gender : ${genderOptions}" th:value="${gender}" th:text="${gender}">Dropdown</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Group</td>
            <td>
                <select th:field="*{group}">
                    <option th:each="group : ${allGroups}" th:value="${group.groupId}" th:text="${group.groupName}">Dropdown</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Education Year</td>
            <td><input type="text" th:field="*{educationYear}" /></td>
            <td th:if="${#fields.hasErrors('educationYear')}" th:errors="*{educationYear}">Education year Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>