<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <p>Hello service</p>

    <!-- search container -->
    <div class="container">
        <form th:action="@{/student/search}">
            <input type="text" name="studentLastName">
            <button type="submit">Go</button>
        </form>
        <div th:if="${not #lists.isEmpty(studentSearchList)}">
            <table>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Patronymic</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Group</th>
                    <th>Education Year</th>
                </tr>
                <tr th:each="student : ${studentSearchList}">
                    <td th:text="${student.studentId}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.patronymic}"></td>
                    <td th:text="${student.birthday}"></td>
                    <td th:text="${student.gender}"></td>
                    <td th:text="${student.group.groupName}"></td>
                    <td th:text="${student.educationYear}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div th:if="${not #lists.isEmpty(studentList)}">
            <h2>Table of Users</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Patronymic</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Group</th>
                    <th>Education Year</th>
                </tr>
                <tr th:each="student : ${studentList}">
                    <td th:text="${student.studentId}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.patronymic}"></td>
                    <td th:text="${student.birthday}"></td>
                    <td th:text="${student.gender}"></td>
                    <td th:text="${student.group.groupName}"></td>
                    <td th:text="${student.educationYear}"></td>
                    <td>
                        <a th:href="@{/student/delete(studentId=${student.studentId})}">Delete</a>
                        <a th:href="@{/student/edit(studentId=${student.studentId})}">Edit</a>
                    </td>
                </tr>
            </table>

            <div>
                <h3>Here u can add new student</h3>
                <form th:action="@{/student/add}" th:object="${student}" method="post">
                    <table>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Patronymic</th>
                            <!-- <th>Birthday</th> -->
                            <th>Gender</th>
                            <th>Group</th>
                            <th>Education Year</th>
                        </tr>
                        <tr>
                            <td><input type="text" th:field="*{firstName}" placeholder="FIRST NAME"/></td>
                            <td><input type="text" th:field="*{lastName}" placeholder="LAST NAME"/></td>
                            <td><input type="text" th:field="*{patronymic}" placeholder="PATRONYMIC"/></td>
                            <!-- <td><input type="date" th:field="*{birthday}" placeholder="BIRTHDAY"/></td> -->
                            <td>
                                <select th:field="*{gender}">
                                    <option th:each="gender : ${genderOptions}" th:value="${gender}" th:text="${gender}">Dropdown</option>
                                </select>
                            </td>
                            <td>
                                <select th:field="*{group}">
                                    <option th:each="group : ${allGroups}" th:value="${group.groupId}" th:text="${group.groupName}">Dropdown</option>
                                </select>
                            </td>
                            <td><input type="text" th:field="*{educationYear}" placeholder="EDUCATION YEAR"/></td>
                            <td>
                                <button type="submit">Add</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
    </div>
</body>
</html>